{% extends 'base.html.twig' %}

{% block title %}
    {{ "Édition de #{animal.name}" }}
{% endblock %}

{% block main %}
    <div class="main-content">
        <h1>{{ "Édition de #{animal.name}, récapitulatif du #{record.dateRecord|format_date('full')}"}}</h1>
        {{ include('record_animal/_form.html.twig', {
            label_submit: "modifier",
            with_context: false,
            form: form
        })
        }}
    </div>
{% endblock %}
