{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}

    <div style="border: 1px solid; padding: 15px">
        <img style="display: block" width="100" src="{{ asset('media/logo.png') }}">
        <h1>Bienvenue sur le dashboard de Take'A'Vet</h1>
    </div>

{% endblock %}